:root{
    --purple-primary:#62117A; 
    --white-primary: #FFFFFF; 
    --dark-purple-title: #35213C;
    --dark-text-content: #1E1E1E;

    --gradient: linear-gradient(183deg, rgba(98,17,122,1) 35%, rgba(97,14,250,1) 100%);

    --pink-second: #F0E5FF;
}