/*Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Noto+Sans:wght@400;500&display=swap');


/* Colors */
:root{
    --purple-primary:#62117A; 
    --white-primary: #FFFFFF; 
    --dark-purple-title: #35213C;
    --dark-text-content: #1E1E1E;

    --gradient: linear-gradient(183deg, rgba(98,17,122,1) 35%, rgba(97,14,250,1) 100%);
}


*{
    margin: 0;
    top:0;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--dark-text-content);
}

header{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: var(--white-primary);
    position: fixed;
    z-index: 10;
    
}

.img-logo{
    width: 70px;
    height: 70px;

}

header nav{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

ul{
    display: flex;
}

.list{
    display: block;
}

header li{
    padding: 15px;
    list-style: none;
}

li .nav-item{
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 0px;  
}

li a, a{
    text-decoration: none;
}


li .nav-item:hover{
    border-bottom: 2px solid var(--purple-primary); 
}


.btn-cta{
    background-color: var(--purple-primary);
    color: var(--white-primary);
    padding: 10px 30px;
    border-radius: 8px;
    margin: 0px 3px 0px 1px;
}

.btn-cta:hover{
    opacity: 0.9;

}

.icon-language {
    width: 30px;
    height:30px;
}

section{
    display: flex;
    overflow-y: hidden;
}

.section-large{
    height: 90vh;
    display: flex;
}

.section-middle{
    width: 55%;
    margin: 0px auto 60px;
    height: 60vh;
    display: flex;
}

.container{
    margin: 40px auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.container-full{
    width: 100%;
    display: flex;
    margin: 0;
}

.info{
    height: auto;
    width: 50%;
    margin-top: 12%;
    flex: 1;
}
.info p{
    width:80%;
    text-align: justify;
    margin-bottom: 30px;
}


.main-title{
    color: var(--dark-purple-title);
    font-family: 'Montserrat', sans-serif;
    
}

.large{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 35px;
}

.normal{
    width: 700px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}
.large span{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight:bolder;
    color: var(--purple-primary);
    letter-spacing: 30px;
}

.normal span {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: var(--purple-primary);
}


.circle-large{
    position: absolute;
    width: 40%;
    height: 75%;
    border: 20px solid var(--purple-primary);
    border-radius: 50%;
    top: 5%;
    left: 60%;
    z-index: -1;
    
}

.box-content{
    width: 90%;
    height: 60%;
    border-radius: 16px;
    margin: auto;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    color: var(--white-primary);
    background: rgb(98,17,122);
    background: linear-gradient(183deg, rgba(98,17,122,1) 35%, rgba(97,14,250,1) 100%); 
    /*background-image: linear-gradient(#62117A, #610EFA);*/
}
.box-content .info-content{
    display: block;
    align-items: center;
    width: 45%;
    margin: auto 0px;
}

.box-content h3{
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-primary);
    font-size: 34px;
    margin-bottom: 30px;
}

.btn-cta-white{
    color: var(--purple-primary);
    background-color: var(--white-primary);
    padding: 10px 30px;
    border-radius: 8px;
    margin: 0px 5px;
    border: none;
}


.btn-cta-white:hover{
    background-color: var(--white-primary);
    color: var(--purple-primary);
    border: 2px solid var(--purple-primary);
    opacity: 1;
}


.side-img{
    height: 350px;
    background-image: url("/imgs/header.jpg");
    background-size: cover;
    margin:18% 0px 10%;
    flex: 1;
    border-radius: 16px;
    box-shadow: 20px -20px rgba(98,17,122,1);
    position: relative;
    z-index: 1;
}

.side-img-large .img-large{
    width: 100%;
}

.info-services{
    width: 80%;
    margin: auto;
    text-align: center;
}

.list-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    gap: 40px;
    
}
.item-service{
    width: 100%;
    position: relative;
}

.list-services .post1{
    background-image: url("/imgs/post_1.svg");
    background-size: cover;
}
.list-services .post2{
    background-image: url("/imgs/post_2.svg");
    background-size: cover;
}
.img-service{
    width: 60%;
    position: relative;
    top: -40px;
    left:10%;
}

.services-content li{
    list-style: none; 
    color: var(--white-primary);
}


label{
    font-weight: 600;
    margin: 0 25px;

}

.input-form{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 12px;

}
.go-Up{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    left: 85%;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

}

footer{
    padding: 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    color: var(--white-primary);
    border-top: 1px solid var(--purple-primary);
}

footer .nav-footer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

footer .nav-footer li{
    list-style: none;
    margin: 5px;
}

.nav-footer li .nav-item{
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px ;
}

.footer-content{
    width: 60%;
    margin: 5px auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo{
    width: 90px;

}

.footer-content ul {
    list-style: none;
    text-align: left;
    display: block;
}

.footer-content ul li{
    list-style: none;
    text-align: start;
    padding: 0;
}


footer .legal{
    background-color: var(--purple-primary);
    color: var(--white-primary);
    width: 100%;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
}

footer .legal .info-legal{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

footer p{color: var(--white-primary);}
